<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vangoph</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Vangoph.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" asp-append-version="true" />

</head>

<body>
    <header>
        <nav>
            <a class="nav-brand" asp-area="" asp-controller="Image" asp-action="Index">Vangoph's Backyard</a>


            <div class="navbar envelope">
                <a class="nav-brand" asp-area="" asp-controller="Home" asp-action="Contact">
                    <i class="fas fa-envelope"></i>
                    <span>Contact US</span>
                </a>
            </div>

        </nav>
    </header>


    <div class="container">
        @RenderBody()
    </div>




    <footer class="border-top ">     © Copyright of Vangoph's Backyard Co. 2024
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/imageDragDrop.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>