@{
    ViewData["Title"] = "Image detail";
}
@using Vangoph.Views.Image
@model List<Image>

<div class="image-list">
    @{
        foreach (var item in Model)
        {
            <component type="typeof(ImageManageItem)" render-mode="ServerPrerendered" param-Model="@item"/>
            @using (Html.BeginForm("Delete", "Image", FormMethod.Post))
            {
                <input type="hidden" name="imageId" value="@item.Id"/>
                <button type="submit">TEXT</button>
            }
        }
    }
</div>