@{
    ViewData["Title"] = "Home Page";
}
@using Vangoph.Views.Image
@model List<Image>

<div class="image-list">
    @{
        foreach (var item in Model)
        {
            <component type="typeof(ImageItem)" render-mode="ServerPrerendered" 
                       param-Name="@item.Name"
                       param-ImgPath="@item.ImageUrl"
                       param-Price="@item.Price"/>
        }
    }
</div>