@{
    ViewData["Title"] = "Home Page";
}
@using Vangoph.Views.Image
@model List<Image>


<div class="image-list image-view-list">
    @{
        foreach (var item in Model)
        {
            <component type="typeof(ImageItem)" render-mode="ServerPrerendered" param-Model="@item"/>
        }
    }
</div>
