@{
    ViewData["Title"] = "Shipping";
    Layout = "_AdminLayout";
}


<form class="postal-card" asp-controller="Home" asp-action="ShipNotify" method="post">


    <div class="contact">
        <div class="input-box">
            <input name="trackingID" required/>
            <label>Tracking Number</label>
        </div>

        <div class="input-box">
            <input type="text" name="item" required/>
            <label>Item Name</label>
        </div>

        <div class="input-box">
            <input type="text" name="email" required/>
            <label>Customer Email</label>
        </div>

        <textarea
            placeholder="Write Notes Here -----------"
            id="description" name="description" required></textarea>

        <button type="submit" class="btn btn-primary">Send</button>
    </div>


</form>